body {
	font-family: arial, sans-serif;
}

.left {
	float: left;
	margin-left: 15px;
	font-size: small;
	word-spacing: 15px;
}

.right {
	float: right;
	margin-right: 15px;
	font-size: small;
	word-spacing: 15px;
}
